#nav{
	background: rgba(0,0,0,0.8);
}
#sandwich{
	border-radius:5px;
	border: 0.1px solid aliceblue;
}
#sandwich:hover{
	background: rgba(0,0,0,0.5);
}
#sandwich:focus{
	background: rgba(0,0,0,0.5);
}

.navbar-header a.navbar-brand{
	color: white;
	font-family: 'Fredericka the Great', cursive;
	font-size: 25px;
	line-height: 20px;
}
.navbar-header a.navbar-brand:hover{
	color: cornsilk;
}
a{
	text-align: center;
}
ul.navbar-nav li a.page-scroll{
	color: aliceblue;
}
ul.navbar-nav li a.page-scroll:hover{
	color: cornsilk;
}
.navbar-default #sandwich .icon-bar {
    background-color: white;
}
.bar1, .bar2, .bar3 {
    background-color: #333;
    margin: 6px 0;
    transition: 1.5s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-5px, 6px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-5px, -8px) ;
}

.header{
	text-align: center;	
	background: url('images/background.jpg');
	background-size: cover;
	background-position: center;
	height: 100vh;
	width:100%;
	color: white; 
}


#logo img {
	width: 75px;
	margin-top: -7px;
}

.head-text{
	 padding-top: 250px;
}
.head-text h1{
	font-family: 'Poiret One', cursive;
	letter-spacing: 12px;
	font-weight: bolder;
	font-size: 60px;
	background: rgba(0,0,0,0.6);
	margin-bottom: 10px;
}

.head-text p{
	margin: 0;
	padding: 2.5px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	background: rgba(0,0,0,0.6);
}

#about-us{
	padding: 40px;
	background: url(https://source.unsplash.com/R2HlismuruI/1600x900);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: ivory;
	margin-bottom: 20px;
}

#mnv{
	text-align: center;
}
.about h3{
	font-size: 22px;
	font-family: 'Gruppo', cursive;
	letter-spacing: 2px;
	font-weight: bolder; 
}

.about p{
	font-size: 18px;
	font-family: monospace;
}

#bnu{
	display: flex;
}

#background , #uniqueness{
	margin: 10px;
	text-align: center;
}

hr.heart {
	border-top: 4px double #8c8b8b;
	text-align: center;
}
hr.heart:after {
	content: '\002665';
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 10px;
	background: white;
	color: #8c8b8b;
	font-size: 18px;
}


hr.boundary {
	border-top: 1px solid #8c8b8b;
	text-align: center;
}
hr.boundary:after {
	content: '§';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
	background: #fff;
	color: #8c8b8b;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}


#courses{
	margin: 20px 50px 20px 50px;
}

.course-box{
	padding: 10px;

}
.course-box h4{
	text-align: center;
	font-family: monospace;
	font-weight: bolder;
}
.course-box h5{
	font-weight: bolder;
}
.course-box ul{
	font-family: 'Cinzel', serif;
	font-weight: bold;
}
li .anatomy{
	color: crimson;
}

.course-box .tooltip-inner{
	background: rgb(255, 77, 77);
}

.modal-btn{
	text-align: right;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

 
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

button.btn.btn-lg.btn-info{
	background: coral;
	border: none;
}
.course-box hr  {
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
}
.course-box hr:after {
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px;
 }
.modal-dialog .modal-content{
	padding: 0;
}
.modal-header{
	color: white;
}
 .modal-header ,  .modal-footer{
 	background: rgb(102, 102, 255);
 }

 .modal{
 	border-radius: 10px;
 }

#classes{
	margin-top: 30px;
	text-align: center;
}

.schedule{
	 font-family: monospace;
 
}
.fa{
	margin-left: 10px;
}
#info{
	margin: 30px;
	display: flex;
}
#map{
	width: 500px;
	height: 500px;
    border-radius: 35px;
    border: 1px solid coral;
}
#address{
	width: 50vw;
	margin: 20px;
}

#address {
font-family: 'Parisienne', cursive;
font-weight: bold;
font-size: 22px;
}
#address h4{
	font-weight: bolder;
	font-size: 40px;
}
footer{
	background: grey;
	height: 50px;
}
#footer{
	text-align: center;
	font-size: 20px;
	line-height: 54px;
}
#footer a{
	color: white;
}

#footer span{
	font-size: 20px;
	font-family: monospace;
}

@media (max-width: 770px) {
 	.navbar-header a.navbar-brand{
 		line-height: 36px;
 	}
}

 @media (max-width: 600px) {
  	#bnu , #info {
		display: block;
	}
	#map{
		width: 300px;
		height: 300px;
	}
 	.head-text{
 		padding-top: 100px;
 	}
 	.head-text p , #footer .fa{
 		font-size: 16px;
 	}
 	.header{
 		height: 300px;
 	}
 	.about h3 , .head-text h1{
 		font-size: 20px;
 	}
 	.about p{
 		font-size: 9px;
 	}
 	#footer span , .modal-btn .btn{
 		font-size: 12px;
 	}
}
