.navbar{
	background: rgba(0,0,0,0.3);
	color:#8c8c8c;
} 
.navbar-brand{
	font-family: 'Metamorphous',cursive;	
}
.section1{
	background: url('images/13.jpg');
	background-size: cover;
	background-position: center;
	height: 900px;
	width:100%;
	color: white;
	padding-top: 310px;
}
.section1 ul{
	padding: 80px;
}
.section1 li{
	list-style: none;
	font-size: 20px;
	font-family: 'Niconne',cursive;
	margin-left: 15px;
	
}
.section1 p{
	font-size: 20px;
	
}
.section1 h1{
	font-size: 55px;
	font-family: 'Kumar One',cursive;
}
.section1 .btn{
	background: rgba(0,0,0,0.3);
	border: 1px solid white;

}

.section2{
	background: url('images/6.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 600px;
	width:100%;
	color: white;
	padding-top: 310px;
}

.section2 p{
	margin-top: -120px;
	width: 50%;
	float: left;
	font-family: 'UnifrakturMaguntia',cursive;
	line-height: 30px;
	font-size: 18px;
}
 
#section-3  h2 {
	
	font-family: 'Alex Brush',cursive;
}
#section-3 p{
	font-family: 'Alex Brush',cursive;
	font-size: 20px;	
}
.section4 {
	background: url('images/8.jpg');
	background-size: cover;
	background-position: center;
	height: 900px;
	width:100%;
	color: white;
	opacity: 1.0;
	padding-top: 310px;
}
.section4 ul{
	
	float: right;
}
.section4 p{
	font-family: 'Pacifico',cursive;
}
.section4 .btn{
	display: block;
	background: rgba(0,0,0,0.3);
	border: 1px solid white;
}
.section4 h2{
	font-family: 'Metamorphous',cursive;
}
.section4 li{
	font-family: 'Niconne',cursive;
	margin-top: 10px;
	margin-right: 35px;
}
footer{
	font-family: 'Metamorphous',cursive;
	margin-top: 20px;
}
ul li a{
	color: ghostwhite;
}
.text{
	margin-top: 100px;
}
@media screen and (max-width: 480px) {
     .section1 .btn{
     		font-size: 10px;
     	} 
     .section2 p{
     	font-size: 8px;
     }
     .section4 .btn{
     	font-size: 10px;
     	float: right;
     }
      .jumbotron p{
     	font-size: 8px;	
     }
}